form {
  width: 500px;
  background-color: #3b92c1;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: #0c699c 3px solid;
  margin: 0 auto;
}

.headform {
  border-bottom: 1px #ffff solid;
  padding-left: 30px;
}

h2 {
  font-weight: 100;
}

.fieldsform {
  padding: 30px;
}

.field {
  margin-bottom: 30px;
}

.field:last-child {
  margin-bottom: 0;
}

.passwordfields {
  display: flex;
  width: 405px;
  justify-content: space-between;
}

input[type="email"] {
  width: 400px;
  height: 22px;
}

input[type="password"] {
  width: 180px;
  height: 22px;
}

input[type="submit"] {
  background-color: #f5d881;
  padding: 7px 10px;
  border: 0;
  font-weight: 600;
  width: 110px;
}

input {
  border: 1px solid rgb(160, 160, 160);
  border-radius: 0;
  /*убираем закругления*/
}