body {
  background-color: black;
}

.block {
  position: relative;
  background-color: rgb(60, 147, 187);
  border: 5px solid rgb(171, 219, 241);
  font-size: 22px;
  color: white;
  padding: 30px 0;
  text-align: center;
  margin: 70px 15px 15px;
}

.block::before {
  position: absolute;
  content: "";
  left: calc(50% - 30px);
  top: -45px;
  border-bottom: 45px solid rgb(171, 219, 241);
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}

.block::after {
  position: absolute;
  content: "";
  left: calc(50% - 30px);
  top: -38px;
  border-bottom: 45px solid rgb(60, 147, 187);
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}